body {
    background-color: lavender;
    font-family: sans-serif;
    margin: auto;
    text-align: center;
    width: 95%;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

h3, h4, h5 {
    text-align: center;
    font-weight: bold;
}

ul li {
    list-style: inside;
}

.left-section {
    width: 25%;
    padding: 10px;
    margin: auto;
    margin-top: 0px;
}

.cart {
    background-color: lightskyblue;
    display: block;
    height: auto;
    padding: 10px;
    width: 90%;
}

.checkout {
    background-color: lightgreen;
    height: auto;
    margin-top: 15px;
    padding: 10px;
    width: 90%;
}

.birds {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 70%;
    margin-top: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px #474747cc;
    /* transition: 0.3s; */
    height: 270px;
    width: 230px;
    background-color: #d0fdee;
    padding: 10px;
    margin: 0px 35px 20px;
}

.card img {
    width: 140px;
    margin: auto;
}

.card p {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}


.name {
    font-size: 1.2em;
    font-weight: bold;
}

.card button {
    margin: auto;
    width: 75%;
}

.remove {
    background-color: #64c4ff;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 8px 5px 8px;
}

.remove:hover {
    background-color: greenyellow;
    cursor: pointer;
}
