body {
    width: 95%;
    text-align: center;
    height: 100vh;
    margin: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

/* main div {
    display: flex;
    flex-wrap: wrap;
} */

/*cart, checkout*/
.cart-checkout {
    width: 25%;
    padding: 10px;
    margin: auto;
    margin-top: 0px;
}

.cart {
    /* border: 3px solid gray; */
    background-color: gray;
    width: 250px;
    height: auto;
    display: block;
}

.checkout {
    /* border: 3px solid gray; */
    background-color: gray;
    width: 250px;
    height: auto;
    margin-top: 10px;
}

.cart h4, .checkout h4, .cart p {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/* bird cards */
.birds {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 70%;
    margin-top: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px #474747cc;
    /* transition: 0.3s; */
    height: 270px;
    width: 230px;
    background-color: #d0fdee;
    padding: 10px;
    margin: 0px 35px 20px;
}

.card img {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.card p {
    width: 100%;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0px;
}


.name {
    font-size: 1.2em;
    font-weight: bold;
}

.card button {
    margin: auto;
    width: 75%;
}
